* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container_100 {
  width: 100%;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  max-width: 1170px;
}

#hamburger {
  display: none;
}
.heavy-line {
  height: 1vh;
  width: 5vh;
  background-color: black;
  margin: 0.5vh 0;
}

.header-top div > div {
  line-height: 7.5vh;
}
.header-top {
  height: 7.5vh;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 400;
}
.thousand {
  max-width: 1000px;
}

.menu_inline {
  float: right;
}
.header-top-link {
  float: right;
  line-height: 7.5vh;
}

.header-top .container .col-lg-2 {
  line-height: 7.5vh;
}

.header-top-link li, .menu_inline li{
  display: inline-block;
  list-style: none;
  line-height: 7.5vh;
  font-size: 1.5vh;
}
.header-top-link a, .menu_inline a {
  text-decoration: none;
  color: black;
}
.jumbo {
  position: relative;
  margin-top: 7.5vh;
}
.jumbo img {
  width: 100%;
}

.line {
  background-color: black;
  height: 1.5vh;
  line-height: 7.5vh;
  border: 0.8px solid black;
  margin: 0 2px;
}

.text-jumbo {
  position: absolute;
  z-index: 1;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.text-jumbo h2 {
  margin-bottom: 5%;
  font-size: 150%;
}
.text-jumbo p {
  font-size: 100%;
}
.text-jumbo a {
  display: inline-block;
  width: 30%;
  margin-top: 1vh;
}

.bikes {
  text-align: center;
}
.products_ {
  width: 100%;
  display: block;
}
.box_grey {
  margin: 0 10px;
  border-radius: 10px;
  padding: 40px 20px;
  background-color: #FAFAFA;
  text-align: center;
  margin-bottom: 20px;
}

.text_center {
  text-align: center;
}
.margin_top_300 {
  margin-top: 300px;
}
.margin_top_650 {
  margin-top: 650px;
}
#old_man {
  background-image: url(../img/HelbizBanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.iphone {
  width: 80%;
}


@media screen and (max-width: 1200px) {

  .header-top-link {
    display: none;
  }

  .md_display_none {
    display: none;
  }

  .menu_inline {
    display: none;
  }

  .md-display-none {
    display: none;
  }

  .md-display {
    display: block;
  }

  #hamburger {
    display: block;
  }

  #hamburger li {
    height: 5px;
    background-color: black;
    list-style: none;
    margin: 7.5px 0;
  }

  #hamburger {
    height: 7.5vh;
  }

}

@media screen and (max-width: 768px) {
  .xs_display_none {
    display: none;
  }
}
